@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body{
    background-color: #0C0F12;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}

*{
    margin: 0;
    padding: 0;
}
nav{
    position: sticky;
    top:0;
    display: flex; 
    flex-direction: row;

    background-color: #1B1A1A;
    height: 72px;
}
ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    color: aliceblue;
    list-style: none;
}
ul li img{
    height: 3rem;
    margin: 1rem;
}
ul li{
    margin: 12px;
}
.border{
    display: flex;
    align-items: center;
}


.container-class{
    display: flex;
    justify-content: center;
    height:auto;
    /* width: max-content; */
}
.container{
    width: 80rem;
    background-color: #0C0F12;
    
    display: grid;
    align-items: start;
    grid-template-columns: 25% 75%;
    margin-left: 50px;
    margin-right: 50px;
    padding: 15px;
}
#myProgressBar{
   width: 100%;
   margin-bottom: 12px; 
   cursor: pointer;
   
}
.bottom{
    position: sticky;
    display: flex;
    flex-direction: column;
    align-items: center;
    bottom: 0;
    visibility: hidden;
    background-color: #21252D;
    padding: 0px;
    
    font-size: 20px;
    color: #F7F5F5;
}

/* make website responsive when website width reduce */
@media screen and (max-width: 1000px) {
    .container{
        width: 80rem;
        background-color: #0C0F12;
        
        display: grid;
        align-items: start;
        grid-template-columns: 1fr;
        margin-left: 50px;
        margin-right: 50px;
        padding: 15px;
    }
  }
  /* bottom button properties */
.material-symbols-outlined {
    font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
.material-symbols-outlined{
    cursor: pointer;
}
span{
    margin: 15px;
}

.songBanner{
    display: flex;
    flex-direction: column;
    /* justify-content: start; */
    align-items: start;
    margin: 0;
    padding: 0;
}
/* #songBanner-h3{
  position: absolute;
  color: #CC0016;
  top: 250px;
  left: 100px;
} */
.songBanner > img{
    height: 240px;
    margin-top: 22px;
    border-radius: 7px;
}

/* -------------------------------------------------------------- */
.songList{
    display: grid;
    padding: 12px;
   height: fit-content ;
   cursor: pointer;
}

.songList > .list{
 margin: 1px;
 height: 67px;
 /* background-color: #1B1A1A; */
 font-family: 'Roboto', sans-serif;
 color:aliceblue;
}

.songList > div h6{
    color: #818C94;
    margin-top: 5px;
    word-spacing: 1px;
}

.list-2{
    display: flex;
    justify-content: space-between;
}
.list-2-0{
    display: flex;
}
.list-2-0-0{
    display: flex;
}
.list-2-1{
    height: 41px;
    width: 145px;
    line-height: 20px;
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 14px;
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 8px;
    border-radius: 24px;
}

/* ----------------play-songs */
.list-play{
    background-color:red;
    border: none; 
    color: white;  
}
/* play songs on hover */
.list-play:hover{
    background-color: #CC0016;
    border: none;
}
/* play song heading */

#play-song-h4{
    color: white;
}

/* follow-button */
.list-follow{
    background-color: #0C0F12;
    border: 1px solid white;
}
/* follow-button on hover */
.list-follow:hover{
    opacity: 0.7;
    /* background-color: #0C0F12; */
    /* border: 1px solid white; */
}

/* follow heading */
#follow-h4{
    color: white;
}

.list-3{

    font-family: 'Roboto', sans-serif;
    display: grid;
    align-items: center;
    font-size: 16px;
    line-height: 24px;
    grid-template-columns: 40% 18% 18% 24%;
    
}
#track{
    word-spacing: 14px;

}
    
.song-list{

    display: grid;
    grid-template-columns: 40% 18% 18% 14% 5% 5%;
   align-items: center;
   
}
                    
/*class for hover on the song*/ 

.song-list:hover {             
    border: 1px solid gray;
    border-radius: 12px;
}

.track-1-image{
    height: 50px;
    width: 50px;
    border-radius: 6px;
    margin-left: 14px;
    margin-right: 14px;
}
.track-1{
    display: flex;
    align-items: center;
 
}
h5{
    color: #F7F5F5;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 20px;
}
h4{

    color:     #868789;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 20px;
}

h3{
    color: #F7F5F5;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    line-height: 20px;
}
h2{
    color:     #868789;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    line-height: 20px;
}
#more-vert-0{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}
#download-0{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid white;
    height: 30px;
    width: 30px;
    border-radius: 50%;
}



/* decorating slider */
.slider{
    -webkit-appearance: none;  /*default  browser css remove*/ 
    appearance: none;       /*default  browser css remove*/    
    height: 2px;          
    background: grey;  /*background*/
    opacity: 0.7;   
}

/* when you hover on slider opacity will be 1 */
.slider:hover{
    opacity: 1;

}
/* decorating thumb of slider */
.slider::-webkit-slider-thumb{
    -webkit-animation: none;
    appearance: none;
    background: red;
    height: 12px;
    width: 12px;
    border-radius: 50%;
    opacity: 1;

    /* box-shadow: -407px 0 0 400px red; */
    /* box-shadow: 10px 10px 10px 10px #CC0016; */
}

/* bottom play  */
#bottom-play-circle{
    font-size: 50px;
     border-radius: 50%;
    color: red;
    /* background-color: #F7F5F5; */
 
   
}
/* bottom play on hover */
#bottom-play-circle:hover{
    opacity: 0.7;
}

.play{
    display: flex;
    justify-content: center;
   align-items: center;
}

/* adjust bottom song name and play buttons */
.song-of-bottom{
   display: grid;
   align-items: center;
   grid-template-columns: repeat(3, 1fr);
   width: 100%;
}
/* .song-of-bottom  div{ */
    /* background-color: #CC0016; */

/* } */

.song-name{
    display: flex;
    flex-direction: row;
    justify-content: start;
   align-items: start;
}
.bottom-album{
    display: flex;
}

